html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
section.sectionhome {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.sectionhome > * {
    margin: 1rem;
}
section.footer > * {
    margin: 1rem;
}
pre {
    background-color: lightgray;
    margin: 0 10rem;
    padding: 2rem 2rem;
    font-size: 2rem;
}
div.row {
    margin-top: 2rem;
    display: flex;
}
div.row > input {
    flex-grow: 1;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    width: 100%;
    /* border: 0; */
    /* background-color: #fafafa; */
    /* padding: 1rem; */
    /* font-size: 1rem; */
}
.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 45%;
}